.customer-list {
  .filter-container {
    width: 100%;
    margin-bottom: 16px;
  }

  table {
    width: 100%;
  }

  .mat-mdc-form-field {
    width: 100%;
  }
}

.balance-list {
  margin: 0;
  padding-left: 1rem;
  list-style-type: disc;
}
